# Compiled class files
*.class

# Bytecode files
*.jar

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
nbproject/

# Gradle files
.gradle/

# Maven local repository
.m2/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled Java files
target/
out/
build/
